<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>

    <div th:fragment="list(title)" class="col-md-12 admin-panel-layout__content">
        <section class="section">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-block">
                            <div class="card-title-block">
                                <h3 class="title" th:text="${title}"></h3>
                            </div>
                            <section class="example">
                                <div class="table-responsive ticket-table">
                                    <table class="table table-striped table-bordered">
                                        <thead class="thead-dark">
                                            <tr class="font-weight-normal">
                                                <th>ID</th>
                                                <th>Subject</th>
                                                <th><select id="priority" class="ticket-list-select">
                                                        <option value="Priority" selected>Priority</option>
                                                        <option
                                                            th:each="priority : ${T(tadeas_musil.ticketing_system.entity.enums.Priority).values()}"
                                                            th:value="${priority}" th:text="${priority}">
                                                    </select></th>
                                                <th><select id="department" class="ticket-list-select">
                                                        <option value="Department" selected>Department</option>
                                                        <option th:each="department : ${departments}"
                                                            th:value="${department.name}" th:text="${department.name}">
                                                    </select></th>
                                                <th>Author</th>
                                                <th>Date</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="ticket : ${slice}"
                                                th:classappend="${ticket.closed ? 'closed-ticket' : ''}">
                                                <td>
                                                    <div>
                                                        <div th:text="${'#' + ticket.id}"></div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div><a th:classappend="${ticket.closed ? 'closed-ticket' : ''}"
                                                            class="ticket-table-subject"
                                                            th:href="@{/ticket/{id}(id=${ticket.id})}"
                                                            th:text="${ticket.subject}"></a></div>
                                                </td>
                                                <td class="text-center" th:switch="${ticket.priority}">
                                                    <span
                                                        th:case="${T(tadeas_musil.ticketing_system.entity.enums.Priority).LOW}"
                                                        class="priority-low">Low</span>
                                                    <span
                                                        th:case="${T(tadeas_musil.ticketing_system.entity.enums.Priority).MEDIUM}"
                                                        class="priority-medium">Medium</span>
                                                    <span
                                                        th:case="${T(tadeas_musil.ticketing_system.entity.enums.Priority).HIGH}"
                                                        class="priority-high">High</span></td>
                                                <td th:text="${ticket.department.name}"></td>
                                                <td th:text="${ticket.author}"></td>
                                                <td th:text="${#temporals.format(ticket.created, 'dd-MM-yyyy')}"></td>
                                        </tbody>
                                    </table>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
            <ul th:replace="~{fragments/pagination :: pagination(${slice})}"></ul>
        </section>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
            <script>
                $("#priority, #department").change(function () {
                    var key = $(this).attr("id");
                    var value = this.value;
                    var urlParams = new URLSearchParams(window.location.search);
                    if (value == "Priority" || value == "Department") {
                        urlParams.delete(key);
                    }
                    else if (urlParams.has(key)) {
                        urlParams.set(key, this.value);
                    }
                    else {
                        urlParams.append(key, this.value);
                    }
                    window.location.search = urlParams.toString();
                }
                );
                document.addEventListener('DOMContentLoaded', function () {

                    var urlParams = new URLSearchParams(window.location.search);

                    for (const [key, value] of urlParams) {

                        switch (key) {
                            case 'department':
                                $("#department > option").each(function () {
                                    if (value == this.value) {
                                        $(this).prop('selected', true);
                                        this.textContent = 'Department: ' + this.value;
                                    }
                                })
                                break;

                            case 'priority':
                                $("#priority > option").each(function () {
                                    if (value == this.value) {
                                        $(this).prop('selected', true);
                                        this.textContent = 'Priority: ' + this.value;
                                    }
                                });
                                break;
                        }
                    }
                }, false);

            </script>
        </div>
</body>

</html>