<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">

<head>

</head>

<body>
    <article class="content dashboard-page" layout:fragment="~{content}">
        <div class="row">

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="stats-card border-left-success shadow h-100 py-2">
                  <div class="stats-card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div class="text-xs font-weight-bold mb-1 stats-card-number">Earnings (Annual)</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800 ">$215,000</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="stats-card border-left-success shadow h-100 py-2">
                  <div class="stats-card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div class="text-xs font-weight-bold mb-1 stats-card-number">Earnings (Annual)</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800 ">$215,000</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-md-6 mb-4">
                <div class="stats-card border-left-success shadow h-100 py-2">
                  <div class="stats-card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div class="text-xs font-weight-bold mb-1 stats-card-number">Earnings (Annual)</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800 ">$215,000</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-md-6 mb-4">
                <div class="stats-card border-left-success shadow h-100 py-2">
                  <div class="stats-card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div class="text-xs font-weight-bold mb-1 stats-card-number">Earnings (Annual)</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800 ">$215,000</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        <div class="col-md-12 admin-panel-layout__content">
            <div title="" class="widget">
                <div class="admin-panel-activity">
                    <div class="">
                        <h2 class="header__title">Last Activity</h2>
                    </div>
                    <div>
                        <div>
                            <div style="margin-top: 0px; opacity: 1;">
                                <div class="activity-row"><span class="fa fa-comment-o fa-lg activity-row__icon"
                                        aria-hidden="true"></span><span><a class="activity-row__name-link"
                                            href="/demos/demo1/admin/panel/staff/view-staff/1">Chancellor
                                            Palpatine</a></span><span class="activity-row__message">
                                        <!-- react-text: 933 -->
                                        <!-- /react-text -->
                                        <!-- react-text: 934 -->commented ticket
                                        <!-- /react-text -->
                                        <!-- react-text: 935 -->
                                        <!-- /react-text --></span><span><a class="activity-row__ticket-link"
                                            href="/demos/demo1/admin/panel/tickets/view-ticket/541562">
                                            <!-- react-text: 938 -->#
                                            <!-- /react-text -->
                                            <!-- react-text: 939 -->541562
                                            <!-- /react-text --></a></span><span class="separator"></span></div>
                            </div>
                            
                    </div>
                </div>
            </div>
        </div>

    </article>

    <!-- Reference block for JS -->
    <div class="ref" id="ref">
        <div class="color-primary"></div>
        <div class="chart">
            <div class="color-primary"></div>
            <div class="color-secondary"></div>
        </div>
    </div>
    <script src="js/vendor.js"></script>
    <script src="js/app.js"></script>
</body>

</html>