<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">

<head>

</head>

<body>
  <article class="content dashboard-page" layout:fragment="~{content}">
    <div sec:authorize="isAuthenticated()">
      <div sec:authorize="hasAnyAuthority('ADMIN', 'STAFF')" class="row">
        <!-- User statistics -->
        <div class="col-sm-4 mb-4">
          <div class="stats-card border-left-success shadow h-100 py-2">
            <div class="stats-card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold mb-1 stats-card-number">Created tickets total</div>
                  <div th:text="${createdTickets}" class="h5 mb-0 font-weight-bold text-gray-800 "></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4 mb-4">
          <div class="stats-card border-left-success shadow h-100 py-2">
            <div class="stats-card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold mb-1 stats-card-number">Currently assigned tickets</div>
                  <div th:text="${assignedTickets}" class="h5 mb-0 font-weight-bold text-gray-800 "></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4 mb-4">
          <div class="stats-card border-left-success shadow h-100 py-2">
            <div class="stats-card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold mb-1 stats-card-number">Closed tickets total</div>
                  <div th:text="${closedTickets}" class="h5 mb-0 font-weight-bold text-gray-800 "></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div th:replace="~{fragments/activity :: activity-list('My activity')}"></div>
    </div>
    <div sec:authorize="isAnonymous()">
      <div>
        <h5>Welcome to our ticketing system. You can open a ticket and check its status by providing email and id or
          you can
          register and gain access to all your tickets.
        </h5>
      </div>
      <div class="row mt-5 dashboard-buttons">
        <a th:href="@{/ticket}" class="btn btn-primary btn-lg dashboard-button">Create a new ticket</a>
        <a th:href="@{/accessForm}" class="btn btn-primary btn-lg dashboard-button">Check ticket status</a>
      </div>
    </div>

  </article>
</body>

</html>