<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/header :: head-fragment}">
</head>

<body>
    <div class="auth">
        <div class="auth-container">
            <div class="card">
                <header class="auth-header">
                    <h1 class="auth-title">
                        <div class="logo">
                            <span class="l l1"></span>
                            <span class="l l2"></span>
                            <span class="l l3"></span>
                            <span class="l l4"></span>
                            <span class="l l5"></span>
                        </div> Ticketing system
                    </h1>
                </header>
                <div class="auth-content">
                    <form id="signup-form" th:action="@{/user/password}" th:object="${user}" method="post"
                        novalidate="">
                            <!--    Password field   -->
                            <div class="form-group">
                                <label for="password">Reset Password</label>
                                <div class="error-message" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
                                <div class="row">
                                    <input th:field="${user.id}" type="text" hidden>

                                    <div class="col-sm-6">
                                        <input type="password" class="form-control underlined" th:field="*{password}" name="password" id="password" placeholder="Enter password" required="">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="password" class="form-control underlined" th:field="*{passwordConfirmation}" name="retype_password" id="retype_password" placeholder="Re-type password" required="">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Submit" class="btn btn-block btn-primary">
                            </div>
                            <div class="form-group">
                                <p class="text-muted text-center">Already have an account? <a th:href="@{/login}">Login</a></p>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="text-center">
                    <a href="index.html" class="btn btn-secondary btn-sm">
                        <i class="fa fa-arrow-left"></i> Back to dashboard </a>
                </div>
            </div>
        </div>
    </body>
</html>