<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/header :: head-fragment}">
</head>

<body>
    <div class="auth">
        <div class="auth-container">
            <div class="card">
                <header class="auth-header">
                    <h1 class="auth-title">
                        <div class="logo">
                            <span class="l l1"></span>
                            <span class="l l2"></span>
                            <span class="l l3"></span>
                            <span class="l l4"></span>
                            <span class="l l5"></span>
                        </div> Ticketing system
                    </h1>
                </header>
                <div class="auth-content">
                    <p class="text-center">Enter your email to request password reset</p>
                    <form id="login-form" th:action="@{/password-reset/request}" method="post" novalidate="">
                        <!--    Username field   -->
                        <div class="form-group">
                            <label for="username">Email</label>
                            <span class="error-message" th:if="${param.error}"></span>
                            <input type="email" class="form-control underlined" name="email" id="username"
                                placeholder="Your email address" required>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-block btn-primary">Submit</button>
                        </div>
                        <span class="text-success" th:if="${emailSent}">Link successfuly sent. Check your email.</span>
                        <div class="form-group">
                            <p class="text-muted text-center">Do not have an account? <a th:href="@{/registration}">Sign
                                    Up</a></p>
                        </div>
                    </form>
                </div>
            </div>
            <div class="text-center">
                <a href="index.html" class="btn btn-secondary btn-sm">
                    <i class="fa fa-arrow-left"></i> Back to dashboard </a>
            </div>
        </div>
    </div>


</body>

</html>