<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">

<head>
</head>

<body>
    <article class="content " layout:fragment="~{content}">
        <meta th:name="_csrf" th:content="${_csrf.token}" />
        <meta th:name="_csrf_header" th:content="${_csrf.headerName}" />
        <div class="card">
            <!--    Ticket header   -->
            <div class="card-header justify-content-center text-white bg-dark">
                <div th:text="'#' + ${ticket.id} + ' ' + ${ticket.subject}"></div>
            </div>
            <div class="card-body text-center">
                <div class="mb-5">
                    <div class="row font-weight-bold ticket-card-row">
                        <span class="col-sm-3">Department</span>
                        <span class="col-sm-3">Author</span>
                        <span class="col-sm-3">Priority</span>

                    </div>
                    <div sec:authorize="hasAnyAuthority('ADMIN', 'STAFF')" class="row ticket-card-row">
                        <!--    Department   -->
                        <div class="col-sm-3">
                            <select id="department" th:field="${ticket.department}"
                                class="rounded-pill c-select form-control boxed ticket-dropdown">
                                <option th:each="department : ${departments}" th:value="${department.name}"
                                    th:text="${department.name}"
                                    th:selected="${ticket.department.name} == ${department.name}">
                            </select>
                        </div>
                        <!--    Author   -->
                        <span id="author" class="col-sm-3" th:text="${ticket.author}"></span>

                        <!--    Priority   -->
                        <div class="col-sm-3">
                            <select id="priority" name="priority" th:field="${ticket.priority}"
                                class="rounded-pill c-select form-control boxed ticket-dropdown">
                                <option th:value="${'LOW'}" th:text="${'LOW'}"
                                    th:selected="${ticket.priority} == 'LOW'">
                                <option th:value="${'MEDIUM'}" th:text="${'MEDIUM'}"
                                    th:selected="${ticket.priority} == 'MEDIUM'">
                                <option th:value="${'HIGH'}" th:text="${'HIGH'}"
                                    th:selected="${ticket.priority} == 'HIGH'"></option>
                                </option>
                            </select>
                        </div>

                    </div>

                    <div sec:authorize="hasAuthority('USER') or isAnonymous()" class="row ticket-card-row">
                        <span class="col-sm-3" th:text="${ticket.department.name}"></span>
                        <span class="col-sm-3" th:text="${ticket.author}"></span>
                        <span class="col-sm-3" th:text="${ticket.priority}"></span>
                    </div>
                </div>

                <div>
                    <div class="row font-weight-bold ticket-card-row">
                        <span class="col-sm-3">Owner</span>
                        <span class="col-sm-3">Status</span>
                    </div>
                    <div sec:authorize="hasAuthority('STAFF') or hasAuthority('ADMIN')" class="row ticket-card-row">
                        <!--    Owner   -->
                        <div class="col-sm-3">
                            <select id="owner" class="rounded-pill c-select form-control boxed ticket-dropdown">
                                <option th:selected="${ticket.owner} == ''">Unassigned</option>
                                <option th:each="staffMember : ${staffMembers}" th:text="${staffMember.username}"
                                    th:selected="${ticket.owner} == ${staffMember.username}">
                            </select>
                        </div>
                        <!--    Status   -->
                        <div class="col-sm-3">
                            <select id="status" th:field="${ticket.closed}"
                                class="rounded-pill c-select form-control boxed ticket-dropdown">
                                <option th:value="${true}" th:text="${'CLOSED'}" th:selected="${ticket.closed}">
                                <option th:value="${false}" th:text="${'OPENED'}"
                                    th:selected="${ticket.closed == false}"></option>
                                </option>
                            </select>
                        </div>
                    </div>
                    <div sec:authorize="hasAuthority('USER') or isAnonymous()" class="row ticket-card-row">
                        <span class="col-sm-3" th:text="${ticket.owner}"></span>
                        <span class="col-sm-3" th:if="${ticket.closed}">Closed</span>
                        <span class="col-sm-3" th:unless="${ticket.closed}">Opened</span>
                    </div>
                </div>

            </div>

        </div>
        <!--    Ticket events   -->
        <div th:each="event : ${ticket.events}" class="mb-4">
            <div th:switch="${event.type}">
                <!--    Type 'CREATE'   -->
                <div th:case="${T(tadeas_musil.ticketing_system.entity.enums.TicketEventType).CREATE}">
                    <div class="card">
                        <div class="message-header">
                            <b th:text="${event.author}" class="ml-2"></b>
                            <b th:text="${#temporals.format(event.created, 'dd-MM-yyyy HH:mm:ss')}" class="float-right mr-2"></b>
                        </div>
                        <div class="card-body message-body">
                            <p th:text="${event.content}" class="card-text"></p>
                        </div>
                    </div>
                </div>
                <!--    Type 'DEPARTMENT_CHANGE'   -->
                <div th:case="${T(tadeas_musil.ticketing_system.entity.enums.TicketEventType).DEPARTMENT_CHANGE}">
                    <i class="fas fa-building ticket-event-icon mr-3"></i>
                    <b th:text="${event.author}"></b>
                    <span> changed department to </span>
                    <b th:text="${event.content}"></b>
                    <span> on </span>
                    <span th:text="${#temporals.format(event.created, 'dd-MM-yyyy HH:mm:ss')}"></span>
                </div>
                <!--    Type 'OWNER_CHANGE'   -->
                <div th:case="${T(tadeas_musil.ticketing_system.entity.enums.TicketEventType).OWNER_CHANGE}">
                    <i class="fas fa-user ticket-event-icon mr-3"></i>
                    <b th:text="${event.author}"></b>
                   <th:block th:if="${event.content == null}"> <span> unassigned ticket </span>
                </th:block>
                <th:block th:unless="${event.content == null}"> <span> assigned ticket to </span>
                    <b th:text="${event.content}"></b>
                </th:block>
                    <span> on </span>
                    <span th:text="${#temporals.format(event.created, 'dd-MM-yyyy HH:mm:ss')}"></span>
                </div>
                <!--    Type 'CLOSE'   -->
                <div th:case="${T(tadeas_musil.ticketing_system.entity.enums.TicketEventType).CLOSE}">
                    <i class="fas fa-lock ticket-event-icon mr-3"></i>
                    <b th:text="${event.author}"></b>
                    <span> closed ticket </span>
                    <span> on </span>
                    <span th:text="${#temporals.format(event.created, 'dd-MM-yyyy HH:mm:ss')}"></span>
                </div>
                <!--    Type 'REOPEN'   -->
                <div th:case="${T(tadeas_musil.ticketing_system.entity.enums.TicketEventType).REOPEN}">
                    <i class="fas fa-lock-open ticket-event-icon mr-3"></i>
                    <b th:text="${event.author}"></b>
                    <span> reopened ticket </span>
                    <span> on </span>
                    <span th:text="${#temporals.format(event.created, 'dd-MM-yyyy HH:mm:ss')}"></span>
                </div>
                <!--    Type 'PRIORITY_CHANGE'   -->
                <div th:case="${T(tadeas_musil.ticketing_system.entity.enums.TicketEventType).PRIORITY_CHANGE}">
                    <i class="fas fa-list-ul ticket-event-icon mr-3"></i>
                    <b th:text="${event.author}"></b>
                    <span> changed priority to </span>
                    <b th:text="${event.content}"></b>
                    <span> on </span>
                    <span th:text="${#temporals.format(event.created, 'dd-MM-yyyy HH:mm:ss')}"></span>
                </div>
                <!--    Type 'RESPONSE'   -->
                <div th:case="${T(tadeas_musil.ticketing_system.entity.enums.TicketEventType).RESPONSE}">
                    <div class="card">
                        <div class="message-header">
                            <b th:text="${event.author}" class="ml-2"></b>
                            <b th:text="${#temporals.format(event.created, 'dd-MM-yyyy HH:mm:ss')}" class="float-right mr-2"></b>
                        </div>
                        <div class="card-body message-body">
                            <p th:text="${event.content}" class="card-text"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Message form -->
        <th:block sec:authorize="isAuthenticated()">
        <div class="title-block">
            <h3 class="title"> Respond <span class="sparkline bar" data-type="bar"></span>
            </h3>
        </div>
        <!--    Response form   -->
        <form th:action="@{/ticket/{id}/response(id=${ticket.id})}" th:object="${response}" method="POST" name="item">
            <div class="card card-block">
                <div class="form-group row">
                    <label class="col-sm-2 form-control-label text-xs-right"> Canned responses: </label>
                    <!--    Dropdown with canned responses   -->
                    <div class="col-sm-3">
                        <select id="cannedResponses"
                            class="rounded-pill form-control c-select boxed ticket-dropdown">
                            <option selected>Canned responses</option>
                            <option th:each="cannedResponse : ${cannedResponses}"
                                th:text="${cannedResponse.name}"
                                >
                        </select>
                    </div>
                </div>
                <!--    Ticket content field   -->
                <div class="form-group row">
                    <label class="col-sm-2 form-control-label text-xs-right"> Content: </label>
                  <div class="col-sm-10">  <textarea id="ticket-content" th:field="${response.content}" class="form-control boxed ticket-content-area"></textarea>
                  </div>
                </div> 
                <span class="error-message" th:if="${#fields.hasErrors('${response.content}')}">Can't be empty</span>
                <!--    Submit button   -->
                <div class="form-group row">
                    <div class="col-sm-10 col-sm-offset-2">
                        <button type="submit" class="btn btn-primary"> Submit </button>
                    </div>
                </div>
            </div>
        </form>
    </th:block> 
        <!--    Edit ticket   -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script>
            $("#cannedResponses").change(
                function () {
                    var url = url = window.location.protocol + '//' + window.location.hostname +
                        (window.location.port ? ':' + window.location.port : '') + '/cannedResponse?name=' + this.value;
                    $.ajax({
                        method: "GET",
                        url: url,
                    }).done(function (cannedResponse) {
                        document.getElementById("ticket-content").value = cannedResponse.content;
                    })
                        .fail(function () {
                            alert("update failed");
                        });
                }
            );
            $("#status").change(
                function () {
                    var id = $(this).attr("id");
                    var isClosed = this.value;
                    updateTicket(isClosed, id);
                }
            );
            $("#owner, #priority").change(
                function () {
                    var id = $(this).attr("id");
                    var val = this.value == 'Unassigned' ? '' : this.value;
                    updateTicket(val, id);
                }
            );
            $("#department").change(
                function () {
                    var id = $(this).attr("id");
                    updateTicket({ name: this.value }, id);
                }
            );
        </script>
        <script>
            function updateTicket(data, field) {
                var url = window.location.href + "/" + field;
                var capitalizedField = field.capitalize();
                return $.ajax({
                    method: "PATCH",
                    url: url,
                    data: JSON.stringify(data),
                    contentType: "application/json; charset=utf-8",
                    processData: false
                }).done(function () {
                    alert(capitalizedField + " succesfully updated");
                })
                    .fail(function () {
                        alert(capitalizedField + " update failed");
                    });
            }
            String.prototype.capitalize = function () {
                return this.charAt(0).toUpperCase() + this.slice(1);
            }
        </script>

        <script>
            $(function () {
                var token = $("meta[name='_csrf']").attr("content");
                var header = $("meta[name='_csrf_header']").attr("content");
                $(document).ajaxSend(function (e, xhr, options) {
                    xhr.setRequestHeader(header, token);
                });
            });
        </script>

    </article>
</body>
</html>